body {
  background-color: #1D1D1D;
  color: #edeaea;
  font-family: Helvetica Neue, sans-serif;
  margin: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.service-tile {
  background: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
  font-size: 1.8rem;
  margin: 40px 0;
  padding: 1rem;
}

.service-tile {
  border-left: 15px solid rgb(66, 66, 66);
}

.service-tile.tile-ok {
  border-left: 15px solid rgb(52, 123, 52);
}

.service-tile.tile-error {
  border-left: 15px solid rgb(187, 52, 52);
  -webkit-animation: error-animation 5s infinite;
}

.service-name {
  font-size: 3rem;
  text-transform: uppercase;
}

.service-caption {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 0 20px 10px;
  text-align: center;
  width: 98%;
}

.pane {
  display: flex;
  height: 200px;
}

.pane.short-pane {
  height: 100px;
}

.pane-item {
  background: rgb(66, 66, 66);
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
}

.pane-item .message {
  font-weight: bold;
}

.pane-item.commit {
  background-color: #5D4A71;
}

.build-outcome.passed {
  background-color: rgb(52, 123, 52);
}

.build-outcome.failed {
  background-color: rgb(187, 52, 52);
}

.build-outcome:first-child.failed {
  -webkit-animation: failed-animation 3s infinite;
}

.build-outcome.working {
  background-color: rgb(52, 123, 52);
  -webkit-animation: working-animation 3s infinite;
}

footer {
  background-color: #2F2F2F;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%
}

@-webkit-keyframes failed-animation {
  50%  {background: rgb(187, 52, 52);}
}

@-webkit-keyframes working-animation {
  50%  {background: rgb(187, 52, 52);}
}

@-webkit-keyframes error-animation {
  50% {background: rgb(73, 31, 31);}
}
