astroid==1.4.4
colorama==0.3.7
cookies==2.2.1
flash-services==0.2.2
Flask==0.10.1
Flask-Humanize==0.3.0
humanize==0.5.1
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.1
MarkupSafe==0.23
py==1.4.31
pylint==1.5.4
pytest==2.9.1
pytest-flask==0.10.0
pytest-html==1.8.0
pytest-pylint==0.4.1
pytest-selenium==1.2.1
pytest-variables==1.4
python-dateutil==2.5.2
requests==2.9.1
responses==0.5.1
selenium==2.53.1
six==1.10.0
Werkzeug==0.11.8
wrapt==1.10.6
