<section class="pane codeship-pane">
  <div class="pane-item pane-title">
    <span class="service-name">Codeship</span>
    <span class="project-name"></span>
  </div>
  <div class="pane-item build-outcome">
    <span class="item-title">Outcome: </span>
    <span id="outcome-0"></span>
  </div>  <div class="pane-item build-outcome">
    <span class="item-title">Outcome: </span>
    <span id="outcome-1"></span>
  </div>  <div class="pane-item build-outcome">
    <span class="item-title">Outcome: </span>
    <span id="outcome-2"></span>
  </div>  <div class="pane-item build-outcome">
    <span class="item-title">Outcome: </span>
    <span id="outcome-3"></span>
  </div>
</section>
<script src="{{ url_for('static', filename='codeship.js') }}"></script>