<div id="{{ service_id }}" class="service-tile">
  <div class="service-caption">
    <div class="service-name">Pivotal Tracker</div>
    <div class="project-name"></div>
  </div>
  <section class="pane short-pane tracker-pane">
    <div class="pane-item">
      <span class="item-title">Velocity: </span>
      <span class="velocity"></span>
    </div>
    {% for category in ['ready', 'in-flight', 'completed', 'accepted'] %}
      <div class="pane-item">
        <span class="item-title">{{ category | capitalize | replace('-', ' ') }}: </span>
        <span class="{{ category }}"></span>
      </div>
    {% endfor %}
  </section>
</div>
