body {
  background-color: #1D1D1D;
  color: #edeaea;
  font-family: Helvetica Neue, sans-serif;
  margin: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.service-tile {
  background: rgba(80, 255, 153, 0.1);
  border-radius: 5px;
  font-size: 1.8rem;
  margin: 40px 0;
  padding: 1rem;
}

.service-name {
  font-size: 3rem;
  text-transform: uppercase;
}

.pane {
  display: flex;
  height: 200px;
}

.service-caption {
  margin: 0 0 20px 10px;
  text-align: center;
}

.pane-item {
  background: gray;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
}

.pane-item .message {
  font-weight: bold;
}

footer {
  background-color: #2F2F2F;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%
}

.pane-item.commit {
  background-color: #470b84;
}

.build-outcome.passed {
  background-color: #0B840B;
}

.build-outcome:first-child.passed {
  -webkit-animation: passed-animation 3s infinite;
}

@-webkit-keyframes passed-animation {
  50%  {background: #0fb30f;}
}

.build-outcome.failed {
  background-color: #840B0B;
}

.build-outcome:first-child.failed {
  -webkit-animation: failed-animation 3s infinite;
}

@-webkit-keyframes failed-animation {
  50%  {background: #b30f0f;}
}

.build-outcome.working {
  background-color: #0b0b84;
}

.build-outcome:first-child.working {
  -webkit-animation: working-animation 3s infinite;
}

@-webkit-keyframes working-animation {
  50%  {background: #0f0fb3;}
}
