<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask + Dashboard = Flash</title>
  <script
      src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  <script src="{{ url_for('services.static', filename='scripts/services.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
  <script>
    $SERVICE_URL = {{ url_for('services') | tojson | safe }};
  </script>
  {% set stylesheet = 'styles/{}.css'.format(config.style) %}
  <link rel="stylesheet" href="{{ url_for('static', filename=stylesheet) }}">
</head>
<body>
{% block body %}{% endblock %}
<footer>
  {% if not config.project_end %}
    <div class="spacer"></div>
  {% endif %}
  <div>
    <strong class="flash-project-name">{{ config.project_name }}</strong> is using
    <strong>flash</strong> - because it's a project dashboard <em>that works</em>
  </div>
  {% if config.project_end %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script>
      var projectEnd = moment({{ config.project_end | safe }});
      setInterval(function() { $('#countdown').text(projectEnd.fromNow()); }, 1000);
    </script>
    <div id="ending">Project ends <span id="countdown"></span></div>
  {% else %}
    <div class="spacer"></div>
  {% endif %}
</footer>
</body>
</html>
