<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flash - Flask Dashboard</title>
  <script
      src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
  <script>
    $MINUTE = 1000 * 60;
    $SERVICES = {{ url_for('services') | tojson | safe }};
    window.jQuery || document.write('<script src="{{
        url_for('static', filename='scripts/jquery-2.2.2.min.js')
    }}">\x3C/script>');
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% block body %}{% endblock %}
<footer><strong>Flash</strong> - Flask-based project dashboards</footer>
</body>
</html>