{% extends "base.html" %}
{% block body %}<main>
  <div class="dashboard">
    {% for service_id, service in config.services.items() %}
      <div id="{{ service_id }}" class="service-tile {{ service.service_name }}-tile">
        <div class="service-caption">
          <div class="service-name">{{ service.FRIENDLY_NAME or service.__class__.__name__ }}</div>
          <div class="project-name"></div>
        </div>
        {% set template = 'partials/{}.html'.format(service.TEMPLATE) %}
        {% include template %}
      </div>
    {% endfor %}
  </div>
</main>{% endblock %}
